.nav-sticky{
    position: sticky;
    top: 0px;
    z-index: 10;
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    
}
.left_container{
    width:45% ;
    padding: 10px 20px 50px 20px;
}
#addTitle{
    padding: 5px;border: 1px solid rgba(128, 128, 128, 0.418);
}
#addText{
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.418);
    min-height: 100px;
}
.right_container{
    width: 55%;
    padding: 10px 20px 50px 20px;
}

.right_container h1{text-align: center;}

@media screen and (max-width:800px){
    .left_container{
        width: 100%;
        position: static;
    }
    .right_container{
        position: static;
        width: 100%;
    }
}
